@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.sc1 {
    height: 100vh;
    width: 100vw;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #313131 0%, black 100%);
    animation: backgroundAnm 10s linear infinite;
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
}

.sc1 i {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 1;
}

@keyframes backgroundAnm {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main_container {
    width: 80%;
    position: relative;
    height: 92vh;
    margin: auto;
    margin-top: 4vh;
    background: #4a4949c7;
    margin-bottom: 4vh;
    /*box-shadow: 1px -12px 14px 7px rgb(255 255 255 / 0%), -2px -3px 20px 5px rgb(255 255 255 / 69%);*/
    box-shadow: 1px -2px 15px 5px #6657DA, 1px -2px 150px 5px #6657DA;
    overflow: hidden;
    border-radius: 16px;
    /* background: rgb(255 255 255 / 36%); */
    display: flex;
    z-index: 2;
}


/* Here is the nav bar css */

.navbar_contanier {
    width: 13%;
}

.navbar_contanier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_navbar .navbar {
    width: 100%;
}


/* Here is the main container css */

.content_contanier {
    width: 87%;
}


/* Content container  */

.status_bar {
    display: flex;
    padding: 3px 20px;
    justify-content: space-between;
    align-items: center;
}

.greets_to_user {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.container_searchbar {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 10.5px 0px;
}

.searchbox {
    display: flex;
    align-items: center;
    width: 355px;
    height: 30px;
    padding: 6px 12px;
    background: linear-gradient( 180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.searchbox svg {
    color: #fff;
    margin-right: 5px;
}

.searchInput {
    border: 0;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    background: transparent;
    font-weight: 500;
}

.searchInput::placeholder {
    color: #fff;
}

.searchInput:focus {
    outline: none;
}

.searchInput:focus-visible {
    outline: none;
}

.user_btns {
    display: flex;
    margin-left: 10px;
}

.user_btns svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.profileimg {
    width: 30px;
    margin-left: 10px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


/* Here is the post */

.feed_with_user {
    display: flex;
}

.feed_posts {
    height: 84vh;
    overflow-y: auto;
    border-radius: 10px;
    background: #ffffff21;
    padding: 15px;
    width: 65%;
}

.post {
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #403F3F;
    margin-bottom: 24px;
    position: relative;
    border-radius: 10px;
    font-family: "DM Sans", sans-serif;
}

.user_details {
    display: flex;
    align-items: center;
    padding: 8px;
}

.user_detcontent {
    display: flex;
    justify-content: space-between;
    color: #C3C3C3;
    position: relative;
}

.user_detcontent i {
    position: relative;
    padding: 30px;
    cursor: pointer;
}

.post .profileimg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user_name {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-top: -7px;
}

.post_info .user_name {
    color: #C3C3C3;
    margin-left: 0px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 6px;
}

.post_info {
    padding: 10px 20px;
    width: 95%;
}

.post_info h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #ababab;
}

.post_cont {
    text-align: center;
}

.post_cont img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    object-position: center;
}

.post_contvid video {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    object-position: center;
}

.post_conttxt h3 {
    padding: 20px;
    padding-top: 0px;
    color: #ababab;
}

.like_btn {
    padding: 4px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    cursor: pointer;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    border-radius: 50%;
    background: #403F3F;
    transition: linear 0.3s;
}

.like_btn:hover {
    background: #6657DA;
}

.like_btn:hover i {}

.like_btn.liked {
    background: #6657DA;
}

.like_btn i {
    transition: linear 0.3s;
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.profile_bar {
    display: block;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    margin-left: 10px;
    background-color: #A4A4A4;
    background-color: #ffffff21;
    border-radius: 10px;
    height: 84vh;
    margin-right: 10px;
    width: 35%;
    padding-bottom: 50px;
    overflow-y: auto;
}

.profile_pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user_detail {
    /* color: #fff; */
    font-family: "DM Sans", sans-serif;
    color: #000;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding: 0px;
    border-radius: 16px;
}

.user_detail .edit {
    margin-top: 20px;
    text-align: left;
}

.edit button {
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    background-color: #6657DA;
    border: none;
}

.user_detail_with_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_detail .full_name {
    font-size: 20px;
    color: #d2d2d2;
    font-weight: 500;
}

.user_detail .username {
    font-size: 15px;
    color: #000;
    font-weight: 900;
}

.user_detail .feat p {
    font-size: 16px;
}

.feat {
    margin-top: 30px;
    width: 200px;
    margin-right: 50px;
}

.price {
    margin-top: 15px;
    width: 200px;
    text-align: left;
}

.price .price_title {
    font-size: 20px;
    color: #d2d2d2;
    font-weight: 500;
}

.price .pricee {
    font-size: 15px;
    color: #000;
    font-weight: 900;
}

.bio {
    text-align: left;
    margin-top: 20px;
}

.bio p {
    font-size: 13px;
    color: #000;
    font-weight: 900;
}

.bio_title {
    font-size: 20px;
    color: #d2d2d2;
    font-weight: 500;
}

.user_detail .feat span {
    font-size: 16px;
    font-weight: 600;
}

.news_card {
    color: #000;
    margin-top: 50px;
    background: rgba(68, 68, 68, 0.36);
    padding: 16px;
    font-family: "DM Sans", sans-serif;
    border-radius: 16px;
    width: 100%;
}

.news_card button {
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    background-color: #6657DA;
    border: none;
}

.news_card h1 {
    font-size: 22px;
    color: #6657DA;
}

.news_card .news_pb {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1600px) {
    .news_card h1 {
        font-size: 18px;
    }
    .news_card p {
        font-size: 15px;
    }
    .feat {
        margin-right: 0px;
    }
}

@media screen and (max-width: 850px) {
    .main_container {
        width: 100%;
        flex-direction: column-reverse;
        overflow-y: hidden;
        height: auto;
        margin: 0;
        border-radius: 0;
    }
    .navbar_contanier {
        width: 100%;
        position: fixed;
        bottom: 0px;
        background-color: #313131;
    }
    .content_contanier {
        width: 100%;
    }
    .profile_bar {
        display: none;
    }
    .searchbox {
        width: 360px;
        height: 40px;
        margin: auto 0;
        border-radius: 30px;
    }
    .feed_posts {
        background: #ffffff21;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    .greets_to_user {
        display: none;
    }
    .feed_with_user {
        height: calc(100vh - 140px);
    }
    .post {
        width: 60%;
    }
    .status_bar {
        height: 70px;
        padding: 10px 20px;
    }
    .container_searchbar {
        justify-content: space-between;
        width: 100%;
        padding: 6.5px 0px;
    }
    .searchInput {
        font-size: 18px;
    }
    .searchbox svg {
        font-size: 24px;
    }
}

@media screen and (max-width: 520px) {
    .searchbox {
        width: 210px;
        height: 28px;
    }
    .feed_with_user {
        height: calc(100vh - 120px);
    }
    .status_bar {
        padding: 4px 18px;
    }
    .searchbox svg {
        font-size: 18px;
    }
    .searchInput {
        font-size: 15px;
    }
    .post {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .main_container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
    .feed_with_user {
        height: calc(100vh - 120px);
    }
    .post_cont img {
        width: 250px;
        height: 250px;
    }
    .searchbox svg {
        font-size: 16px;
    }
    .searchInput {
        font-size: 14px;
    }
    .searchbox {
        width: 200px;
        height: 28px;
    }
}